<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rysowanie Cyfry</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
            text-align: center;
        }

        canvas {
            background-color: black;
            border: 1px solid white;
        }
    </style>
</head>
<body>
    <h1>Narysuj cyfrę</h1>
    <canvas id="drawingCanvas" width="280" height="280"></canvas>
    <br>
    <button id="submitBtn">Przekaż</button>
    <button id="clearBtn">Wyczyść</button>
    <h2>Wynik Predykcji: <span id="predictionResult"></span></h2>
    <h2>Pewność: <span id="confidenceResult"></span>%</h2>

    <script>
        const canvas = document.getElementById('drawingCanvas');
        const ctx = canvas.getContext('2d');
        let drawing = false;

        canvas.addEventListener('mousedown', () => {
            drawing = true;
            ctx.beginPath();
        });

        canvas.addEventListener('mouseup', () => {
            drawing = false;
            ctx.closePath();
        });

        canvas.addEventListener('mousemove', (event) => {
            if (drawing) {
                ctx.lineWidth = 10;
                ctx.lineCap = 'round';
                ctx.strokeStyle = 'white';
                ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
                ctx.stroke();
            }
        });

        document.getElementById('submitBtn').addEventListener('click', async () => {
            const imageData = canvas.toDataURL('image/png');
            const response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image: imageData })
            });

            if (!response.ok) {
                const errorData = await response.json();
                console.error('Błąd w odpowiedzi:', errorData.error);
                alert('Wystąpił błąd: ' + errorData.error);
                return;
            }

            const result = await response.json();
            document.getElementById('predictionResult').innerText = result.prediction;
            document.getElementById('confidenceResult').innerText = result.confidence.toFixed(2);
        });

        document.getElementById('clearBtn').addEventListener('click', () => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            document.getElementById('predictionResult').innerText = '';
            document.getElementById('confidenceResult').innerText = '';
        });
    </script>
</body>
</html>
